---
// library imports
import { Image } from "@astrojs/image/components";
import { AstroSeo } from '@astrolib/seo';

// utils imports
import { slugify, formatDate } from "../js/utils";

const { category, title, author, date, image } = Astro.props;
---
<AstroSeo
  title="EEthical Hacking Tutorials"
  description="A short description goes here."
  titleTemplate=" - Ethical Hacking Tutorials"
  defaultTitle="Ethical Hacking Tutorials"
  canonical="https://ethicalhackx.com/"
  twitter.cardType="summary_large_image"
  twitter.site="@ethicalhackx"
  twitter.handle="@abhinavkakku"
  openGraph.url=""
  openGraph.title=""
  openGraph.description=""
  openGraph.images="tst4"
  openGraph.site_name="Ethical Hacking Tutorials"
/>
<header>
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
    </small>
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
        formatDate(date)
      }
    </p>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="avif"
    fit="cover"
    quality={80}
    aspectRatio="5:2"
    class="hero-image"
  />
</header>
